
$warning: #ed6c02;
$error: #ef3d18;
$success: #4caf50;

// Color Variables
$primary-dark:#010101;
$primary-color: #ffffff;  // White (for buttons, text, etc.)
$secondary-color: #007BFF; // Blue (for headings, links, accents)
$background-color: #010101; // Dark background
$card-bg: #1e1e1e; // Slightly lighter dark for cards or sections
$border-color: #212121; // Borders or dividers
$primary-dark-2: #0c0c0c;

// Text Colors
$text-primary: #010101; // Main text color (white)
$text-secondary: #ffffff; // Secondary text color (blue headings)
$text-paragraph: #9C9C9C; // Grey for paragraph content

// New Colors 
$primary-blue: #007BFF;
$disabled-color: #9C9C9C;